<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UIT-CTF-Time</title>
</head>

<body>
    <h1>Hello guys, Welcome to UIT-CTF-Time</h1>
    <h2>View Documentation <a href="https://documenter.getpostman.com/view/5702006/SW14WHx4">here</a> </h2>
    <h2>Source Code in <a href="https://github.com/thinhnnd/uit-ctf-time">Github</a> </h2>
</body>

</html>